@font-face {
  font-family: "LaBelleAurore-Regular";
  src: url("LaBelleAurore-Regular.ttf") format("truetype");
}

html{
  background-image: url('glowy-pond.jpg');
  background-size: cover;
}

.advice-container {
  text-align: center;
  
}

.text {
  text-align: center;
  color:#fff;
  font-family: 'Bell MT', 'Lucinda', Arial;
  font-size: 35px;
  width: 100%;
  top: 130px;
  position: absolute;
  margin: 0 auto;
  display: block;
}

.button {
  top: 75px;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.godly-sayings {
  font-family: "LaBelleAurore-Regular";
  font-size: 25px;
  color: #fff;
  top: 130px;
  position: absolute;
  margin: 0 auto;
  display: block;
}